
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/books.css') }}">
</head>
<header>
    <button onclick="window.location.href='/';"> Home </button>
    <button onclick="window.location.href='/books';"> Books  </button>
    <button onclick="window.location.href='/authors';"> Authors </button>
</header>
<body>
    <h1>Books List</h1>
    <nav>
        <a href="/">Home</a> |
        <a href="/books">Books</a> |
        <a href="/authors">Authors</a>
    </nav>
    <ul>
        {% for book in books %}
            <li>{{ book[1] }} by {{ book[2] }}</li>
        {% endfor %}
    </ul>
</body>
</html>
